<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>415866365162-pfei2thedo6g5lj8qf69fbet999pghlr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.415866365162-pfei2thedo6g5lj8qf69fbet999pghlr</string>
	<key>API_KEY</key>
	<string>AIzaSyD5T7b55GR8doOJUeBR2nHHiVDmDDDUezw</string>
	<key>GCM_SENDER_ID</key>
	<string>415866365162</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hellodubrovsky.Navigation</string>
	<key>PROJECT_ID</key>
	<string>navigation-iosdt</string>
	<key>STORAGE_BUCKET</key>
	<string>navigation-iosdt.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:415866365162:ios:563208d509515b509ee393</string>
</dict>
</plist>